table 
{ 
	border-collapse: 
	collapse; 
	width: 100%;
	text-align: center;
}
table, th, td 
{ 
	border: 1px 
	solid black;
}
th
{
	background-color: #ccffff;
	font-size: 20px;
}
td 
{ 
	background-color: #cfcfcf;
	font-size: 18px;
}
img 
{ 
	display: block; 
	margin-left: auto; 
	margin-right: auto;  
	height: 200px; 
	width: 200px;
}